{% extends 'base.html '%}

{% block content %}

<h1 class="text-center text-light"> All assets </h1>
<h2 class="text-light">Projects</h2>
<div class="row mb-3">
	{% for project in projects %}
	<div class="card col border-primary m-2" style="max-width: 18rem; min-width:18rem ">
		<div class="card-body text-primary">
			<h5 class="card-title text-center">{{project.project_name}}</h5>
			<hr>
			<div class="d-flex justify-content-between">
				<a href="{{url_for('delete', asset='project', asset_id=project._id)}}" class="btn btn-danger"> Delete</a>
				<a href="#" class="btn btn-info ">Edit</a>
			</div>
		</div>
	</div>
{% endfor %}
</div>


<h2 class="text-light">Courses</h2>
<div class="row mb-3">
	{% for course in courses %}
	<div class="card col border-primary m-2" style="max-width: 18rem; min-width:18rem ">
		<div class="card-body text-primary">
			<h5 class="card-title text-center text-truncate">{{course.course_name}}</h5>
			<hr>
			<div class="d-flex justify-content-between">
				<a href="{{url_for('delete', asset='course', asset_id=course._id)}}" class="btn btn-danger"> Delete</a>
				<a href="#" class="btn btn-info ">Edit</a>
			</div>
		</div>
	</div>
{% endfor %}
</div>

<h2 class="text-light">Skill Sets</h2>
<div class="row mb-3">
	{% for skill_set in skill_sets %}
	<div class="card col border-primary m-2" style="max-width: 18rem; min-width:18rem ">
		<div class="card-body text-primary">
			<h5 class="card-title text-center text-truncate">{{skill_set.name}}</h5>
			<hr>
			<div class="d-flex justify-content-between">
				<a href="{{url_for('delete', asset='skill_set', asset_id=skill_set._id)}}" class="btn btn-danger"> Delete</a>
				<a href="#" class="btn btn-info ">Edit</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<h2 class="text-light">Goals</h2>
<div class="row mb-3">
	{% for goal in goals %}
	<div class="card col border-primary m-2" style="max-width: 18rem; min-width:18rem ">
		<div class="card-body text-primary">
			<h5 class="card-title text-center text-truncate">{{goal.goal_title}}</h5>
			<hr>
			<div class="d-flex justify-content-between">
				<a href="{{url_for('delete', asset='goal', asset_id=goal._id)}}" class="btn btn-danger"> Delete</a>
				<a href="#" class="btn btn-info ">Edit</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}