html{
    background-color: #322C2C;
}
.bg-new-dark {
    background-color: #322C2C !important;
}
body {
    background-color: #322C2C !important;
}
#footer{
    position:relative;
    top:80vh;
    left:90vw;
}
.circle{
    background-color:red;
    border-radius:25%;
    margin: 0 0.5rem 0 0.5rem;
}
#shortcuts{
    width:4rem;
}
.thing-container{
}
.thing {
    height: 300px;
    width: 300px;
    background-color: blue;
    border: 1px solid red;
}
.carousel {
   scroll-snap-type:x mandatory;
   scroll-padding: 0 24px;
   overflow:auto;
}
.container {
    display: flex;
    overflow: auto;
    flex: none;
    flex-flow: row nowrap;
    background-color: inherit;
    scroll-snap-type: x proximity;
    max-height:50vh;
}
.item {
    background-color: #322C2C !important;
    margin: 0 1rem 0 1rem;
    background-color: aliceblue;
    scroll-snap-align: center;
    flex: none;  
    max-height:30rem;
    max-width:20rem;
}
.card{
    border:#000000 !important;
}
.shortcuts_buttons
{
    position:fixed;
    top:90%;
    left:85%;
    z-index:1;
}
.margin-top{
    min-height:15vh;
}
._50height-viewport{
   max-height:80vh;
}
.tale-title{
    position:relative;
    top:90%;
    left:30%;
    transform:translate(-50%, -50%);
    font-size:2rem;
    text-decoration:none !important;
    color:#fff;
}
.tale-style{
    text-decoration:none;
}
.project-scroll-buttons{
    position: relative;
    top: 10rem;
    z-index: +1;
}
.magnify:hover{
    animation-name:magnify;
    animation-duration:1s;
}
.magnify:hover{
    animation-name:magnify;
    animation-duration:1s;
}

@keyframes magnify {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

.left-scroll-btn{
    position:absolute;
    left:0;
}
.right-scroll-btn{
    position:absolute;
    right:0%;
}
#projects::-webkit-scrollbar {
  display: none;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #3b3b3b #707070;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #707070;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 14px;
    border: 0px solid #3b3b3b;
  }