<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename="css/styles.css")}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% include "elements/nav-bar.html "%}
    <div class="dead">asd</div>
    <div class="shortcuts_buttons">
        <div class="row">
            <div class="col-4"> <a class="btn btn-info" href="https://www.linkedin.com/in/george-buleandra-2a742713b/" target="_blank">LKDN</a></div>
            <div class="col-4"> <a class="btn btn-warning" href="{{url_for("view_cv")}}" target="_blank"> CV</a></div>
            <div class="col-4"> <a class="btn btn-danger">EMAIL</a></div>
        </div>
    </div>
    <div class="container-fluid px-5 mt-5">
        {% block content %}{% endblock %}
    </div>

    <!--
        <div id="footer">
            <div id="shortcuts">
                <div class="row">
                    <div class="col-4">Ln</div>
                    <div class="col-4">CV</div>
                    <div class="col-4">Email</div>
                </div>
            </div>

    {% block footer %}
    {% endblock %}
    </div>
          -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {% block extra_js %}
    {% endblock %}

</body>
</html>