<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename="css/styles.css")}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8e8a0aa5cf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body class="pb-5">
    {% include "elements/nav-bar.html "%}
    <div class="margin-top"></div>
    <div class="shortcuts_buttons">
        <div class="row">
            <div class="col-4">
                <a class="btn btn-info magnify" href="https://www.linkedin.com/in/george-buleandra-2a742713b/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Check Linkdin Profile">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
            <div class="col-4">
                <a class="btn btn-info magnify" href="{{url_for('view_file', filetype='cv', file_id='0')}}" target="_blank"data-bs-toggle="tooltip" data-bs-placement="top" title="Check CV">
                    <i class="fa-solid fa-file"></i>
                </a>
            </div>
            <div class="col-4"> 
                <a class="btn btn-info magnify" onclick="scrollBot()" data-bs-toggle="tooltip" data-bs-placement="top" title="Get in touch">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
   <div aria-live="polite" aria-atomic="true" class="position-relative bd-example-toasts">
          <div class="toast-container p-3 top-0 end-0" id="toastPlacement">
          {% for message in get_flashed_messages() %}
            <div class="toast bg-info">
              <div class="toast-body">
                {{message}}
              </div>
            </div>
          {% endfor %}
            
          </div>
        </div>
   </div>
    <h1 class="text-light text-center">{% block page_title %}{% endblock %}</h1>
     <div class="container-fluid px-5 mt-5">    
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>
        function scrollBot()
        {
            window.scrollTo({ left: 0, top: document.body.scrollHeight, behavior: "smooth" });
        }
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    const toastElList = document.querySelectorAll('.toast')
    const toastList = [...toastElList].map(toastEl => new bootstrap.Toast(toastEl, option))
    for (toast in toastList)
    {
        toastList[toast].show();
    }
    </script>
    {% block extra_js %}
    {% endblock %}

</body>
</html>