{% extends "base.html" %}

{% block content %}
<hr />
<h1 class="text-light text-center"> Developer </h1>
<hr />
<h2 class="text-light text-center"> Skills</h2>
<hr />
<div class="row text-light justify-content-center">
    <div class="col-sm-12 col-md-2">
        <h3>Programming Languages</h3>
        <ul>
            <li>C/C++</li>
            <li>Python</li>
            <li>JavaScript</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-2">
        <div class="">
            <h3>Frameworks</h3>
            <ul>
                <li>SFML</li>
                <li>Django</li>
                <li>Flask</li>
                <li>Jquery</li>
                <li>React</li>
            </ul>
        </div>

    </div>
    <div class="col-sm-12 col-md-2">
        <h3>Technical</h3>
        <ul>
            <li>Object Oriented Programing</li>
            <li>Memory management</li>
            <li>Database design</li>
            <li>FSM Design</li>
            <li>ANN Design</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-2">
        <h3>Soft skills</h3>
        <ul>
            <li>Problem solving</li>
            <li>Solution design</li>
            <li>Critical Thinking</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-2">
        <h3>Others</h3>
        <ul>
            <li>Github</li>
            <li>Visual Studio</li>
            <li>Visual Studio</li>
        </ul>
    </div>
</div>
<hr />
<h2 class="text-light text-center"> Work</h2>
<hr />
<p class="text-light text-center">This is my work gather so far in last 3 year of studies</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card bg-dark text-white h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Maze</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">See Details</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Maze</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">See Details</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Maze</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">See Details</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}