{% extends "base.html" %}
{% block page_title %}Developer  {% endblock %}
{% block content %}

<h2 class="text-light text-center"> Skills</h2>
<hr />
<div class="row text-light justify-content-center">
    {% for skill_set in skill_sets %}
        <div class="col-sm-12 col-md-2">
            <h3 class="text-capitalize">{{skill_set.name}}</h3>
            <ul>
                {% for skill in skill_set.skills %}
                    <li>{{skill}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
<hr />
<h2 class="text-light text-center"> Work</h2>
<hr />
<p class="text-light text-center">This is my work gather so far in last 3 year of studies</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for project in projects %}
    <div class="col">
        <div class="card bg-dark text-white h-100">
            <img src="{{url_for('static', filename='images/' + project.project_pictures[0])}}" class="card-img-top" alt="picture-project">
            <div class="card-body">
                <h5 class="card-title">{{project.project_name}}</h5>
                <p class="card-text">{{project.project_description}}.</p>
                <a href="{{url_for('project_view', project_id = project._id)}}" class="btn btn-primary">See Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% include "elements/forms/email_form.html"%}

{% endblock %}