{% extends "base.html" %}

{% block title %} Lading Page {% endblock %}
{% block page_title %} I would characterize my self as a {% endblock %}
{% block content %}
<div class="row mb-5">
    <div class="col-sm-12 col-md-4 magnify">
        <a href="{{url_for('student')}}" class="tale-style">
            <span class="tale-title">Student</span>
            <img src="{{url_for('static', filename='images/student.jpg')}}" class="img-fluid _50height-viewport" alt="..."  data-bs-toggle="tooltip" data-bs-placement="top" title="Click for Details">
        </a>
    </div>
    <div class="col-sm-12 col-md-4 magnify">
        <a href="{{url_for('developer')}}" class="tale-style">
            <span class="tale-title">Developer</span>
            <img src="{{url_for('static', filename='images/developer.jpg')}}" class="img-fluid _50height-viewport" alt="..." data-bs-toggle="tooltip" data-bs-placement="top" title="Click for Details">
        </a>
    </div>
    <div class="col-sm-12 col-md-4 magnify">
        <a href="{{url_for('dreamer')}}"class="tale-style">
            <span class="tale-title">Dreamer</span>
            <img src="{{url_for('static', filename='images/dreamer.jpg')}}" class="img-fluid _50height-viewport" alt="..." data-bs-toggle="tooltip" data-bs-placement="top" title="Click for Details">
        </a>
    </div>
</div>
<h1 class="text-center text-light">{{url_for('static', filename='images/dreamer.jpg')}}</h1>
<p class=" fs-1 text-center text-light my-5">Work</p>
    {% if projects|length > 0 %}
  
   <div class="project-scroll-buttons d-sm-none d-lg-block">
         <a class="btn btn-light btn-scroll left-scroll-btn bg-dark text-light" onclick="scrolllLeft()"><i class="fa-solid fa-angle-left"></i></a>
        <a class="btn btn-light btn-scroll right-scroll-btn bg-dark text-light" onclick="scrollRight()"><i class="fa-solid fa-angle-right"></i></a>
    </div> 
    <div class="project-container mandatory-scroll-snapping my-5" id="projects">
        
        {% for project in projects %}
            <div class="item">
                <div class="card bg-dark text-white">
                    {% if project.project_pictures|length == 0 %}
                     <img src="{{url_for('static', filename='images/image-not-found.jpg')}}" class="card-img-top" alt="picture-project">
                    {% else %}
                        <img src="{{url_for('static', filename='images/' + project.project_pictures[0])}}" class="card-img-top" alt="picture-project">
                    {% endif %}
                
                    <div class="card-body">
                        <h5 class="card-title">{{project.project_name}}</h5>
                        <p class="card-text text-truncate">{{project.project_description}}.</p>
                        <a href="{{url_for('project_view', project_id=project._id)}}" class="btn btn-info">See Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        
    </div>
 {% else %}
            <h3 class="text-center text-light w-100">No projects found, contant me for details at contact form provided</h3>
            <hr>
 {% endif %}
<p class=" fs-1 text-center text-light my-5 ">Studies</p>
<div class="row my-5">
    {% if courses|length> 0%}
    {% for course in courses %}
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3 mx-auto bg-dark text-light" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-4">
                    <img src="{{url_for('static', filename="images/"+course.course_picture)}}" class="img-fluid rounded-start my-sm-3 my-lg-0 h-100" style="min-height:12rem;" alt="course picture">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">{{course.course_name}}</h5>
                        <p class="card-text text-truncate">{{course.description}}</p>
                        <p class="card-text"><a href="{{url_for('student')}}" class="text-light">See details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3 class="text-center text-light">No studies found, please contant me for details at contact form provided</h3>
      <hr>
    {% endif %}

</div>


<p class="fs-1 text-center text-light my-5">{{main_goal.title}}</p>
{% include "elements/forms/email_form.html"%}
{% endblock %}
{% block extra_js %}
<script>
    function scrolllLeft()
    {
        let projectContainer = document.getElementById('projects')
        let value =  projectContainer.scrollLeft;
        projectContainer.scrollTo({ left : value-330, behavior: "smooth" });
    }
      function scrollRight()
    {
        let projectContainer = document.getElementById('projects')
        let value =  projectContainer.scrollLeft;
        projectContainer.scrollTo({ left : value+330, behavior: "smooth" });
    }
    
</script>
{% endblock %}
