{% extends "base.html" %}

{% block title %} Lading Page {% endblock %}
{% block content %}
<div class="row mb-5">
    <div class="col-lg-4">
        <a href="{{url_for('student')}}">
            <img src="{{url_for('static', filename='images/student.jpg')}}" class=" img-thumbnail" alt="...">
        </a>
    </div>
    <div class="col-lg-4">
        <a href="{{url_for('developer')}}">
            <img src="{{url_for('static', filename='images/developer.jpg')}}" class="img-thumbnail" alt="...">
        </a>
    </div>
    <div class="col-lg-4 ">
        <a href="{{url_for('dreamer')}}">
            <img src="{{url_for('static', filename='images/dreamer.jpg')}}" class="img-thumbnail h-100" alt="...">
        </a>
    </div>
</div>

<p class=" fs-1 text-center text-light my-5">Work</p>
<div class="container mandatory-scroll-snapping my-5">
    {% for project in projects %}
        <div class="item">
            <div class="card bg-dark text-white">
            {% if project.project_pictures|length == 0 %}
             <img src="{{url_for('static', filename='images/image-not-found.jpg')}}" class="card-img-top" alt="picture-project">
            {% else %}
                <img src="{{url_for('static', filename='images/' + project.project_pictures[0])}}" class="card-img-top" alt="picture-project">
            {% endif %}
                
                <div class="card-body">
                    <h5 class="card-title">{{project.project_name}}</h5>
                    <p class="card-text text-truncate">{{project.project_description}}.</p>
                    <a href="{{url_for('project_view', project_id=project._id)}}" class="btn btn-primary">See Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<p class=" fs-1 text-center text-light my-5 ">Studies</p>
<div class="row my-5">
    {% for course in courses %}
    <div class="col-6">
        <div class="card mb-3 mx-auto bg-dark text-light" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{url_for('static', filename="images/"+course.course_picture)}}" class="img-fluid rounded-start" alt="course picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{course.course_name}}</h5>
                        <p class="card-text text-truncate">{{course.description}}</p>
                        <p class="card-text"><a href="{{url_for('student')}}" class="text-light">See details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<p class="fs-1 text-center text-light my-5">In five years from now I'll be a machine learning engineer </p>
{% include "elements/forms/email_form.html"%}
{% endblock %}
