{% extends "base.html" %}
{% block title %} {{project.project_name}} {% endblock %}
{% block content %}
<h1 class="text-center text-light mb-5">{{project.project_name}}</h1>
<div id="carouselExampleInterval" class="carousel slide mb-5" data-bs-ride="carousel"  >
    <div class="carousel-inner">
        {% for image in project.project_pictures %}

            {% if loop.first %}
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="{{url_for('static', filename='images/'+image)}}" class="d-block w-100" alt="project_picture">
                </div>
            {% else %}
                <div class="carousel-item" data-bs-interval="10000">
                    <img src="{{url_for('static', filename='images/'+image)}}" class="d-block w-100" alt="project_picture">
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<h2 class="text-center text-light"> Description </h2>
<p class="text-center text-light"> {{project.project_description}}</p>
<h2 class="text-center text-light"> Features </h2>
{% for feature in project.features %}
    <p class="text-center text-light"> {{feature}}</p>
{% endfor %}

<h2 class="text-center text-light"> Tehnologies used </h2>
{% for tech in project.technologies %}
    <p class="text-center text-light"> {{tech}}</p>
{% endfor %}
<h2 class="text-center text-light"> Other elements </h2>
{% for other in project.others_project %}
    <p class="text-center text-light"> {{other}}</p>
{% endfor %}

{% if project.project_link %}
<h3 class="text-center text-light"> Visit the project here </h3>
<div class="d-flex justify_content_center my-2">
    <a class="btn btn-outline-info mx-auto" href="{{project.project_link}}" target="_blank">{{project.project_name}}</a>
</div>
{% endif %}
<div class="d-flex justify_content_center my-2">
<a href="{{project.github_link}}" target="_blank" class="btn btn-info mx-auto">Check on github</a>
</div>

%}
{% include "elements/forms/email_form.html"%}
{% endblock %}