{% extends 'base.html '%}

{% block content %}
<h1 class="text-center text-light">Project name</h1>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<h2 class="text-center text-light"> Description </h2>
<p class="text-center text-light"> Here are the game features</p>
<h2 class="text-center text-light"> Features </h2>
<p class="text-center text-light"> Here are the game features</p>
<h2 class="text-center text-light"> Tehnologies used </h2>
<p class="text-center text-light"> Here are the game features</p>
<h2 class="text-center text-light"> Other elements </h2>
<p class="text-center text-light"> Here are the game features</p>
<a class="btn btn-info mx-auto">Check on github</a>

{% endblock%}