{% extends "base.html" %}

{% block content %}
<div class="text-light">
    <h1 class="text-light text-center my-5"> Studies</h1>
    <div class="card text-center text-dark mb-5">
        <div class="card-body">
            <h5 class="card-title my-4">Artificial Intelligence, De Montfort University, Leicester, UK</h5>
            <div class="row my-3">
                <div class="col-8">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="col-4">
                    <img src="{{url_for('static', filename="images/dmu.png")}}" class="img-fluid border border-dark" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center text-dark">
        <div class="card-body">
            <h5 class="card-title my-4">Full Stack web developer, Code Institute, Dublin, Irland</h5>
            <div class="row my-3">
                <div class="col-8">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="col-4">
                    <img src="{{url_for('static', filename="images/codeInstitute.jpeg")}}" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}