{% extends 'base.html'%}

{% block content %}

<h1 class="text-center text-light">Developer's Page</h1>
<hr />
<form class="card w-50 mx-auto">
    <div class="card-body bg-dark text-white rounded">
        <h5 class="card-title text-center">Project</h5>
        <div class="form-group ">
            <label for="project_name">Project Name</label>
            <input type="text" class="form-control" placeholder="Enter the name of the project" name="project_name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" placeholder="Description of the project" rows="6"></textarea>
        </div>
        <div class="form-group" id="features_inputs">
            <label for="features">Features</label>
            <input type="text" class="form-control mb-2" placeholder="Add features" name="features">
            <div class="d-flex justify-content-between mb-2" id="features_buttons">
                <a id="add" class="btn btn-primary add"><i class="fa-solid fa-plus"></i></a>
                <a id="del" class="btn btn-danger del"><i class="fa-solid fa-minus"></i></a>
            </div>

        </div>
        <div class="form-group">
            <label for="technologies">Technologies</label>
            <input type="text" class="form-control mb-2" placeholder="Add a technology" name="technologies">
            <div class="d-flex justify-content-between mb-2">
                <a class="btn btn-primary add "><i class="fa-solid fa-plus"></i></a>
                <a class="btn btn-danger del"><i class="fa-solid fa-minus"></i></a>
            </div>
        </div>

        <div class="form-group">
            <label for="others-project">Others</label>
            <input type="text" class="form-control mb-2" placeholder="Add something" name="others-project">
            <div class="d-flex justify-content-between mb-2">
                <a id="add" class="btn btn-primary add"><i class="fa-solid fa-plus"></i></a>
                <a id="del" class="btn btn-danger del"><i class="fa-solid fa-minus"></i></a>
            </div>
        </div>
        <div class="form-group ">
            <label for="course_picture">Pictures</label>
            <input type="file" class="form-control" name="course_picture" accept="image/jpeg, image/jpg, image/pmg">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<form class="card w-50 mx-auto">
    <div class="card-body bg-dark text-white rounded">
        <h5 class="card-title text-center">Course</h5>
        <div class="form-group ">
            <label for="project_name">Name</label>
            <input type="text" class="form-control" name="course_name" placeholder="Enter the name of the course">
        </div>

        <div class="form-group ">
            <label for="course_period">Period</label>
            <input type="text" class="form-control" name="course_period" placeholder="Insert the course's period">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" placeholder="Brief description of the course" rows="6"></textarea>
        </div>
        <div class="form-group ">
            <label for="course_period">Period</label>
            <input type="text" class="form-control" name="course_period" placeholder="Insert the course's period">
        </div>
        <div class="form-group" id="class_inputs">
            <label for="class">Classes</label>
            <input type="text" class="form-control mb-2" placeholder="Insert class" name="class">
            <div class="d-flex justify-content-between mb-2" id="class_buttons">
                <a id="add" class="btn btn-primary add"><i class="fa-solid fa-plus"></i></a>
                <a id="del" class="btn btn-danger del"><i class="fa-solid fa-minus"></i></a>
            </div>
        </div>
        <div class="form-group ">
            <label for="course_picture">Picture</label>
            <input type="file" class="form-control" name="course_picture" accept="image/jpeg, image/jpg, image/pmg">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>


</form>
<form class="card w-50 mx-auto">
    <div class="card-body bg-dark text-white rounded">
        <h5 class="card-title text-center">Skill</h5>
        <div class="form-group ">
            <label for="skill_name">Skill Group</label>
            <select class="form-select" aria-label="Default select example" name="skill_name">
                <option value="1" selected>Programing Language</option>
                <option value="2">Framework</option>
                <option value="3">Technical</option>
                <option value="4">Soft Skill</option>
                <option value="5">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="skill">Skill</label>
            <input type="text" class="form-control mb-2" placeholder="Inset a skill" name="skill">
            <div class="d-flex justify-content-between mb-2" id="skill_buttons">
                <a id="add" class="btn btn-primary add"><i class="fa-solid fa-plus"></i></a>
                <a id="del" class="btn btn-danger del"><i class="fa-solid fa-minus"></i></a>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>


</form>
<form class="card w-50 mx-auto">
    <div class="card-body bg-dark text-white rounded">
        <h5 class="card-title text-center">Dream</h5>
        <div class="form-group">
            <label for="skill">Goal</label>
            <input type="text" class="form-control mb-2" placeholder="Inset a goal" name="goal">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
                Main
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
                Secondary
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<script src="{{url_for('static', filename='/js/add_del_logic.js')}}"></script>
{% endblock %}